 <!-- <div class="container">
  <div>Technology News</div>
  <div class="row">
  <div
      class="col-md-4 .h-100"
      *ngFor="let news of latestNewsResult"
    >
        <p-card header="{{news.title}}" subheader="{{news.section}}" [style]="{width: '360px'}" styleClass="card p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="{{ news.multimedia[0].url }}" width="100%" class="card-img-top" alt="..." >
        </ng-template>
        <ng-template pTemplate="title">
            <p>{{news.subsection}}</p>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="text-wrapper">{{news.abstract}}</p>
        </ng-template>


        <ng-template pTemplate="footer">

            <p-button label="Read More" icon="pi-question-circle" styleClass="p-button-secondary" [style]="{'margin-left': '5em'}"></p-button>
        </ng-template>
        </p-card>
  </div>
  </div>
</div>


 -->

<div class="container" style="margin-top: 100px;">

    <div class="row">

        <div class="col-md-4 .h-100"  *ngFor="let news of latestNewsResult  | filter: filterCategoryName | search: searchValue | paginate: {
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: totalCount
            }">

                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img
                        src="{{ news.multimedia ? news.multimedia[0].url : nytAltImg}}"
                        alt="Trendy Pants and Shoes"
                        class="rounded float-left img-fluid"
                      />
                    </div>
                    <div class="col-lg-7">
                      <div class="card-body">
                        <h3 class="card-title"><strong>{{news.title}}</strong></h3>
                        <h5 class="card-text">{{news.abstract}}</h5>
                        <p class="date-text">
                          <small class="text-muted">{{news.created_date | date:"fullDate"}}</small>
                        </p>
                      </div>
                    </div>
                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onClickaArticle(news)">Read More ..</button>

                  </div>
                </div>


        </div>
          <div class="clearfix">

            <pagination-controls class="paginator"
            (pageChange)="page = $event"
                              (pageBoundsCorrection)="page = $event"
                              [maxSize]="size"
                              [directionLinks]="true"
                              [autoHide]="true"
                              [responsive]="true"
                              previousLabel="Prev"
                              nextLabel="Next"
                              screenReaderPaginationLabel="Pagination"
                              screenReaderPageLabel="page"
                              screenReaderCurrentLabel="You're on page">
        ></pagination-controls>
      </div>



    </div>
</div>

