.conatiner{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);

}

.text-wrapper {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.clearfix {
  position: relative;
  right: 35%;
  left: 35%;
  font-size: 14px;
  font-weight: bold;
}
.date-text{
  font-size: x-small;
}

#spinner-loader{
  position: relative;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
}
