 <div class="container">
  <div>Technology News</div>
  <div class="row">
  <div
      class="col-md-4"
      *ngFor="let news of latestNewsResult"
    >
        <p-card header="{{news.title}}" subheader="{{news.section}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="{{ news.multimedia[0]?.url }}" width="100%" class="card-img-top" alt="..." >
        </ng-template>
        <ng-template pTemplate="title">
            <p>loremcadss dsa </p>
        </ng-template>
        <ng-template pTemplate="subtitle">
         <p>loremcadss dsa title;eeeeeeeeeeeeeeee </p>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="text-wrapper">{{news.abstract}}</p>
        </ng-template>


        <ng-template pTemplate="footer">

            <p-button label="Read More" icon="pi-question-circle" styleClass="p-button-secondary" [style]="{'margin-left': '5em'}"></p-button>  
        </ng-template>
        </p-card>
  </div>
  </div>
</div>



