.conatiner{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);

}

.text-wrapper {
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
