<!-- <p-menubar [model]="items">
    <ng-template pTemplate="start">
        <<img src="assets/primeng.svg" height="40" class="mr-2">>
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search">
    </ng-template>
</p-menubar> -->


<p-tabView>
    <p-tabPanel header="Home">
     <app-headline-card></app-headline-card>
    </p-tabPanel>
    <p-tabPanel header="Busniess">
        Content 2
    </p-tabPanel>
    <p-tabPanel header="Tech">
      <a class="nav-link" routerLink="technology"></a>
    </p-tabPanel>
</p-tabView>



